<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/main.css">
    <!--link(rel='stylesheet', href='css/bootstrap.min.css')
    -->
    <link rel="stylesheet" href="js/shared/bower_components/angular-material/angular-material.css">
    <!-- Latest compiled and minified JavaScript-->
    <script type="application/javascript" src="js/shared/bower_components/jquery/dist/jquery.js"></script>
    <script type="application/javascript" src="js/shared/bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="application/javascript" src="js/shared/bower_components/angular/angular.js"></script>
    <script type="application/javascript" src="js/shared/bower_components/angular-aria/angular-aria.js"></script>
    <script type="application/javascript" src="js/shared/bower_components/angular-messages/angular-messages.js"></script>
    <script type="application/javascript" src="js/shared/bower_components/angular-material/angular-material.js"></script>
    <script type="application/javascript" src="js/shared/bower_components/angular-animate/angular-animate.js"></script>
    <!--  application-->
    <script type="application/javascript" src="js/background/MainApp.js"></script>
    <script type="application/javascript" src="js/background/service/RpcService.js"></script>
    <script type="application/javascript" src="js/background/service/SettingsStorage.js"></script>
    <script type="application/javascript" src="js/background/service/BackgroundService.js"></script>
    <!---->
    <script type="application/javascript" src="js/background/ctrl/SettingsController.js"></script>
    <script type="application/javascript" src="js/background/ctrl/PlayListController.js"></script>
    <script type="application/javascript" src="js/background/ctrl/MainController.js"></script>
  </head>
  <body ng-app="MainApp">
    <md-tabs>
      <md-tab>
        <md-tab-label>
          <h3>main</h3>
        </md-tab-label>
        <md-tab-body>
          <div ng-controller="PlayListController">
            <md-toolbar>
              <div layout="row">
                <md-button ng-click="showPlayList()" class="md-raised">Show playlist</md-button>
                <md-button ng-click="clearPlayList()" class="md-raised">Clear playlist</md-button>
              </div>
            </md-toolbar>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <h3>settings</h3>
        </md-tab-label>
        <md-tab-body>
          <div ng-controller="SettingsController">
            <md-toolbar>
              <div layout="row">
                <md-button ng-click="save()" class="md-raised">Save</md-button>
                <md-button ng-click="cancel()" class="md-raised">Cancel</md-button>
              </div>
            </md-toolbar>
            <form name="settingsForm" ng-submit="save()">
              <div layout="row">
                <md-input-container flex="">
                  <label>URL:</label>
                  <input ng-model="url" required="">
                </md-input-container>
              </div>
            </form>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </body>
</html>